.blog-cont {
  /* display: inline-block; */
  /* flex-direction: row; */
  border: 1px solid grey;
  margin: auto;
  margin-top: 20px;
  width: 600px;
  max-width: 500px;
  padding: 30px;
  border-radius: 10px;
  background-color: rgb(143, 156, 149);
}
.blog-cont > p {
  border: 1px dashed black;
  border-radius: 8px;
}
.form-cont {
  /* display: flex; */
  display: inline-block;
  align-items: center;
  justify-content: center;
  width: 500px;
}
.form1 {
  border-radius: 10px;
  /* border: 1px solid rgb(82, 82, 82); */
  display: inline-block;
  margin: 50px;
  padding: 20px;
  background-color: rgb(143, 156, 149);
}

.panel {
  font-size: xx-large;
  display: inline-block;
  font-weight: 600;
  border: 1px solid rgb(95, 95, 95);
  border-radius: 10px;
  margin: 10px;
  background-color: rgb(173, 182, 141);
  padding: 10px;
}
